<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="primary" text="HOME"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h1 class="ion-text-center title">Pokédex</h1>
    <p class="ion-text-center description">You can find every pokémon here, take a look!</p>
    <div class="pokedex-btns">
      <ion-button 
        shape="round"
        (click)="previousPage()"
        [ngClass]="(page==0)?'btn-disabled':''"
      >
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-button 
        shape="round"
        (click)="nextPage()"
      >
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>
    <ion-grid>
      <ion-row>    
        <ion-col *ngFor="let pokemon of pokemons | pokefilter:page" size="12" size-lg="4" size-sm="6">
          <ion-card >
              <ion-card-header>
                <ion-card-title class="ion-text-center" color="dark">{{pokemon.name}}</ion-card-title>
                <ion-img src="{{pokemon.img}}" alt="{{pokemon.name}}"></ion-img>
              </ion-card-header>
      
              <ion-card-content>
                <ion-button expand="block" fill="outline" shape="round" color="dark" [routerLink]="['/pokemon/'+pokemon.id]">DETAILS</ion-button>
              </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
