// ion-back-button{
//     --background: yellow;
// }
// ion-grid {
//     --ion-grid-columns: 4;
// }
ion-grid{
    --ion-grid-padding-xl:5rem;
    --ion-grid-padding-lg:5rem;
    --ion-grid-padding-md:2rem;
    --ion-grid-padding-sm:1rem;
}
ion-img{
    width: 90%;
    height: 10rem;
}