<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pokémon</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="home-title">
      <div>
        <strong>Gotta Catch 'Em All</strong>
      </div>
      <ion-text color="light">Pokémon, also known as Pocket Monsters in Japan. Find every Pokémon here!</ion-text>
      <ion-button 
        shape="round"
        [routerLink]="['/pokedex']"
      >
        GO TO POKÉDEX
      </ion-button>
    </div>
    <img 
      class="pokemon-main" 
      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/136.svg"
      alt="Pokemon Flareon"
    />
  </div>
</ion-content>